.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgba(88, 81, 81, 0.35);
  border-radius: 5px;
  color: white;
}

.button:disabled {
  cursor: not-allowed;
  background-color: rgba(12, 11, 11, 0.35);
  border-radius: 5px;
  color: rgba(128, 128, 128, 0.287);
}
